.signout {
    background-color: red;
    border: none;
    color: white;
    width: 160px;;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 50px;
}
.text{
    color: goldenrod;
    text-align: center;
}
.navbar{
    background: green;
}